.select{
    width: 100px;
    padding: 5px;
    padding-right: 30px;

    background-color: yellow;
    cursor: pointer;
    border: 2px inset rgb(118, 118, 118);
    color: darkgreen;
}
.select:focus{
    outline: none;
    border: 2px solid blue;
}
.option{
    color: #f6351a;
    background: #8c8c38;
}
.option:checked{
    background: #8c8c38;
    color: #8a1100;
}
.option:hover{
    box-shadow: 0 0 10px 100px yellowgreen inset;
    transition: all 0.2s ease-in-out;
    background-color: red;
}