.link{
    text-decoration: none;
    color: aquamarine;
    margin: 10px;
}
.link:hover{
    color: aqua;
}
.active{
    color: darkcyan;
}
.block{
    width: 25px;
    height: 25px;
    margin: 10px;
    background-color: mediumspringgreen;
}
.header{
    display: flex;
    width: 250px;
    transition-duration: 500ms;
    transform: translate(-220px);
}
.header:hover{
    transition-duration: 500ms;
    transform: translate(0);
}