.greeting{
    display: flex;
    align-items: flex-start;
}

.someClass {

}
.input{
    margin: 10px;
    background: #c1c1c1;
    border-radius: 5px;
 }
.inputError{
    margin: 10px;
    background: #c1c1c1;
    border-radius: 5px;
    outline: none;
    border: 2px solid red;
}
.error {
    color: red;
    height: 20px;
    margin-left: 10px;
}